{{#each items}}
<a href="/item/{{this.id}}" class="card-link" id="{{this.id}}">
    <div class="card border-dark  col-sm-12 col-md-3 float-left mb-3 mx-3" style="max-width: 20rem;">
        <div class="card-header" name="item-header"  >{{this.item_header}}</div>
        <div class="card-body">
            <img src="{{this.img_url}}" class="card-img-top" alt="{{this.img_url}}" >
            {{!-- <h4 class="card-title" name="item-title">Item title</h4> --}}
            <p class="card-text" name="item-explanation">{{this.item_explanation}}</p>
            <p class="card-text" name="item-price">$ {{this.item_price}}</p>
        </div>
    </div>
</a>
{{/each}}
